.profile__preloader {
    margin: 60px auto;
}

.profile {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    border-radius: 5px;
    
}
  
.profile-info {
    display: flex;
    width: 100%;
}

.profile__avatar{
    max-width: 150px;
}

.profile__avatar img {
    width: 100%;
    border-radius: 5%;
    box-shadow: -1px 1px 8px #4A76A8;
}

.profile__description {
    padding: 15px;
    border-bottom: 1px solid #E7E8EC;
    flex: auto;
}

.profile__fullName {
    font-weight: bold;
}

.profile__lookingForAJob, .profile__lookingForAJobDescription, .profile__aboutMe {
    margin-left: 20px;
}

.profile__contacts {
    margin-top: 40px;
    margin-left: 40px;
}

.profile__contacts div {
    margin-bottom: 18px;
}

.profile-status .profile-status__text {
    cursor: pointer;
    background-color: #EDEEF0;
    padding: 5px;
    min-width: 200px;
    min-height: 28px;
}

.profile-status input {
    border: none;
    border-bottom: 1px solid #EDEEF0;
    background-color: #EDEEF0;
    padding: 5px;
    min-width: 200px;
    min-height: 28px;
}