.profile__preloader {
    margin: 60px auto;
}

.profile {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    border-radius: 5px;
    
}
  
.profile-info {
    display: flex;
    width: 100%;
}

.profile__avatar{
    width: 100px;
    height: 100px;
}

.profile__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -2px 2px 5px rgb(30, 140, 230);
}

.description {
    padding: 15px;
    border-bottom: 1px solid #E7E8EC;
    flex: auto;
}

.profile__fullName {
    font-weight: bold;
}

.profile__lookingForAJob, .profile__lookingForAJobDescription, .profile__aboutMe {
    margin-left: 20px;
}

.profile__contacts {
    margin-top: 40px;
    margin-left: 40px;
}

.profile__contacts div {
    margin-bottom: 18px;
}