.users {
    width: 700px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.users__page-count {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.users__page-count .active {
    background-color: #4A76A8;
    border-radius: 2px;
    color: white;
}

.users__page-count span {
    margin: 5px;
    padding: 0 5px;
    padding-bottom: 1px;
    cursor: pointer;
}

.user {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid #EDEEF0;
    border-bottom: 1px solid #EDEEF0;
}

.user__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user__avatar img{
    width: 70px;
}