.my_posts {
    margin-top: 50px;
    width: 100%;
}

.my_posts__new_post {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.my_posts__new_post .form-control {
    width: 100%;
}

.my_posts__new_post textarea {
    padding: 25px 10px;
    margin: 10px 0;
    width: 100%;
}
