
.profile__data-form {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex: auto;
}


.profile__data-form .btn-profile-data{
    position: absolute;
    height: 30px;
    margin-top: -30px;
    margin-left: 185px;
}

.profile-form__error {
    color: red;
}