* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:active, button:focus {
    outline: none;
}
  button::-moz-focus-inner {
    border: 0;
}

.app__preloader {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    font-size: 14px;
    background-color: #EDEEF0;
}

.link-item {
    text-transform: capitalize;
    cursor: pointer;
}

.container {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1230px;
}

.wrap-content {
    display: flex;
}

.btn {
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 6px 15px;
    background-color: #5181B8;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap-content .content-loading{
    margin: auto;
}